<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://kit.fontawesome.com/64d58efce2.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/adminstyle.css}" />
<link rel="icon" type="image/x-icon" href="../assets/edit (1).png">
<title>Rentide Admin Login</title>

</head>

<body>

	<div class="container">
		<div class="forms-container">
			<br>
			<!-- Add this code where you want to display the error message -->
			<div th:if="${errorMessage}" class="error-message"
				style="text-align: center; color: red;">
				<p th:text="${errorMessage}"></p>
			</div>


			<form action="/adminLogin" method="post" class="sign-in-form">


				<img src="../assets/edit (1).png" alt="logo">
				<p>Rentide</p>
				<h2 class="title">Admin Log in</h2>
				<div class="input-field">
					<i class="fas fa-envelope"></i> <input type="email" name="email"
						placeholder="Email" required />
				</div>
				<div class="input-field">
					<i class="fas fa-lock"></i> <input type="password" name="password"
						placeholder="Password" id="passwordInput" required /> <i
						class="fas fa-eye" id="togglePassword"></i>

					<div class="forgot-password-container">
						<a href="forgot.html" class="forgot-password"
							id="forgotPasswordLink">Forgot Password?</a>
					</div>

				</div>

				<input type="submit" value="Login" class="btn solid" />
			</form>
			<!-- p th:text="${session.error}" style="color: red;"></p-->

		</div>
	</div>

	<script src="./js/login.js"></script>
	<script th:if="${errorMessage}">
		setTimeout(function() {
			document.querySelector('.error-message').style.display = 'none';
		}, 3000); // 3000 milliseconds = 3 seconds
	</script>

</body>

</html>
