<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rent</title>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/assets/edit (1).png">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<style>
    body,
    input {
        font-family: "Poppins", sans-serif;
    }
</style>

<body>
    <main>
        <div class="big-wrapper light">
            <img src="./img/shape.png" alt="" class="shape" />

            <header>
                <div class="container">
                    <div class="logo">
                        <img src="./assets/edit (1).png" alt="Logo" />
                        <h3>Ride Rental Services</h3>
                    </div>

                    <div class="links">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="Services.html">Services</a></li>
                            <li><a href="view.html">Bikes & Pricing</a></li>
                            <li><a href="test.html">Testimonials</a></li>
                            <li><a href="login.html" class="btn">Login</a></li>
                        </ul>
                    </div>

                    <div class="overlay"></div>

                    <div class="hamburger-menu">
                        <div class="bar"></div>
                    </div>
                </div>
            </header>

            <!--Rent Details-->
            <section class="order-summary">
                <h2>Your Order Summary</h2>
                <table class="order-details">
                    <thead>
                        <tr>
                            <th>Package</th>
                            <th>Start Date</th>
                            <th>Time</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2 hrs - Aluminium (S)</td>
                            <td>March 5, 2024</td>
                            <td>8:00 AM</td>
                            <td>99 AED</td>
                        </tr>
                    </tbody>
                </table>
                <p class="subtotal">Subtotal: 99 AED</p>
                <p class="total">Total: 99 AED</p>
                <div class="buttons">
                    <a href="#" class="btn btn-back">BACK</a>
                    <a href="#" class="btn btn-next">NEXT</a>
                </div>
            </section>

            <!--footer-->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-col">
                            <h4>company</h4>
                            <ul>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">our services</a></li>
                                <li><a href="#">privacy policy</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>get help</h4>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <!-- <li><a href="#">shipping</a></li>
                <li><a href="#">returns</a></li> -->
                                <li><a href="#">order status</a></li>
                                <li><a href="#">payment options</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <!-- <h4>online shop</h4> -->
                            <!-- <ul>
                <li><a href="#">watch</a></li>
                <li><a href="#">bag</a></li>
                <li><a href="#">shoes</a></li>
                <li><a href="#">dress</a></li>
              </ul> -->
                        </div>
                        <div class="footer-col">
                            <h4>follow us</h4>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
    <!-- JavaScript Files -->

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>